@page
@model BasicTaskList.RazorPages.Pages.Folders.IndexModel

@{
    ViewData["Title"] = "Folders";
}

<h1>Folders</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <p>Quick Lists:</p>
    <ul>
        <li><a asp-page="../Tasks/Important/Index">Important Tasks</a></li>
        <li><a asp-page="../Tasks/DueToday/Index">Tasks Due Today</a></li>
        <li><a asp-page="../Tasks/Completed/Index">Completed Tasks</a></li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Folder[0].Name)
            </th>
            <th>
                Tasks Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Folder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasks.Count)
            </td>
            <td>
                <a asp-page="../Tasks/Index" asp-route-folderid="@item.Id">Show Tasks</a> |
                <a asp-page="./Edit" asp-route-folderid="@item.Id">Rename</a> |
                <a asp-page="./Delete" asp-route-folderid="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
